body {
  background-color: gray;
}

.metronome {
  text-align: center;
  max-width: 675px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('./assets/metal.jpg');
  border: 1px solid black;
  margin-top: 50px;
  border-radius: 7%;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.bpm-slider {
  width: 100%;
  border-bottom: 1px solid black;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 675px;
  border: 1px solid black;
  border-top: 0px;
}

.bpm-slider input {
  margin: 10px;
  width: 50%;
  transform: scale(1.5);
}

.title {
  font-size: 250%;
  color: blue;
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
  margin: 15px;
}

.bpm {
  font-size: 250%;
  margin: 0px;
}

.count {
  font-size: 650%;
  color: blue;
  margin: 0px;
  margin-left: 100px;
}

.time-signature {
  transform: scale(1.5);
  height: 100%;
  margin-right: 60px;
}

.time-signature-slider input {
  width: 100%;
  margin: 10px;
  transform: scale(1.5);
}

.metronome button {
  background: blue;
  padding: 10px;
  border: 1px solid black;
  border-radius: 2px;
  width: 180px;
  height: 80px;
  color: #fff;
  font-size: 32px;
  margin: 5px;
  border-radius: 7%;
}
